/* CONVERT SIDE */

.convertation__side {
    /* border: 1px solid red; */
    /* height: 700px; */
}

.convert__form__container {
    position: relative;
    /* border: 1px solid blue; */
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.convert__form {
    /* position: relative; */
    /* border: 1px solid green; */
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.convert__input {
    box-shadow: 0px 0px 0px 4px rgba(77, 108, 250, 0.4);
    font-size: 40px;
    text-align: center;
    /* width: 100px; */
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #4D6CFA;
    border: 1px solid rgba(133, 135, 150, 0.4);
    border-radius: 4px;
    transition-property: box-shadow;
    transition-duration: 100ms;
    margin-bottom: 20px;
}

.convert__button {
    padding: 0px 15px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #4D6CFA;
    margin: 0 auto;
    width: 50%;
    /* background-color: #4d6cfa; */
    border: 2px solid #4d6cfa;
    padding: 13px 0px;
    text-decoration: none;
    border-radius: 9px;
    transition-property: scale;
    transition-duration: 200ms;
    margin-bottom: 30px;
}

.convert__button:hover {
    padding: 0px 15px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #4D6CFA;
    margin: 0 auto;
    width: 50%;
    /* background-color: #4d6cfa; */
    border: 2px solid #4d6cfa;
    padding: 13px 0px;
    text-decoration: none;
    border-radius: 9px;
    transition-property: background-color, color;
    transition-duration: 500ms;
    margin-bottom: 30px;
    transition-property: scale;
    transition-duration: 200ms;
    scale: 0.95;
}

.exchange__rates {
    position: relative;
    /* border: 1px solid green; */
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    color: #4d6cfa;
    font-family: 'Roboto', sans-serif;
}