@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en_EN">

<head>
    <meta charset="UTF-8">
    <title>UFOPay.io - User agreement</title>
    <link rel="stylesheet" href="/css/indexstyle.css">
    <link rel="stylesheet" href="/css/reglog.css">
    <link rel="stylesheet" href="/css/docs.css">
</head>

<body>
    <div class="docs__side">
        <div class="docs__container">
            <h1>User agreement</h1>

            <h5>Title</h5>
            <p class="desc">Desc</p>
        </div>
    </div>
</body>

</html>